<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xinlake.tunnel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:extractNativeLibs="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <service
            android:name="xinlake.tunnel.plugin.TileService"
            android:exported="true"
            android:icon="@drawable/baseline_security_24"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tunnel">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <service
            android:name="xinlake.tunnel.core.shadowsocks.SSService"
            android:directBootAware="true"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":tunnel">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>
